body
{
  margin: 0px;
}

.lime
{
  color: #05d900;
}

.cyan
{
  color: #21a0fc;
}

.red
{
  color: #d11a14;
}

.orange
{
  color: #ffa800;
}

.yellow
{
  color: #f1d30c;
}

.stroke {
  text-shadow:
  -1px -1px 0 #000,
  0   -1px 0 #000,
  1px -1px 0 #000,
  1px  0   0 #000,
  1px  1px 0 #000,
  0    1px 0 #000,
  -1px  1px 0 #000,
  -1px  0   0 #000;
}

.bold {
    font-weight: bold;
}
